<div id="<%= dom_id article %>">
  <p>
    <strong>Slug:</strong>
    <%= article.slug %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= article.summary %>
  </p>

  <!-- Published -->
  <!-- public -->
  <!-- Published on -->

  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= markdown(article.body) %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= article.site_id %>
  </p>
</div>
