<article id="<%= dom_id article %>">
  <h3><%= article.title %></h3>

  <ul class="article-metadata">
    <li><strong>Slug:</strong> <%= article.slug %></li>
    <li><strong>Site:</strong> <%= article.site.name %></li>
    <li><strong>Author:</strong> <%= article.user.name %></li>
    <li><strong>Tags</strong></li>
  </ul>

  <ul class="article-dates">
    <li><strong>Published:</strong> <%= article.published %></li>
    <li><strong>Published on:</strong> <%= article.published_on.strftime("%A, %d %B, %Y") %></li>
    <li><strong>Created at:</strong> <%= article.created_at.strftime("%F %H:%M:%S %z") %></li>
    <li><strong>Updated at:</strong> <%= article.updated_at.strftime("%F %H:%M:%S %z") %></li>
  </ul>

  <section>
    <em><%= markdown(article.summary) %></em>

    <%= markdown(article.body_for_index) %>

    <nav>
      <%= link_to "Show full article", article %>
      <%= link_to "Edit article", edit_article_path(article) %>
    </nav>
  </section>
</article>
