<article>
  <h2><%= @article.title %></h2>
  <p><%= @article.published_on.strftime("%A, %d %B, %Y") %>  - enumerate tags</p>

  <ul>
    <li>Created at: <%= @article.created_at.strftime("%F %H:%M:%S %z") %></li>
    <li>Updated at: <%= @article.updated_at.strftime("%F %H:%M:%S %z") %></li>
  </ul>

  <p>By <%= @article.user.name %></p>

  <i><%= markdown(@article.summary) %></i>

  <%= markdown(@article.body) %>

  <nav>
    <%= link_to "Edit this article", edit_article_path(@article) %>
    <%= link_to "Back to articles", articles_path %>

    <%= button_to "Destroy this article", @article, method: :delete %>
  </nav>
</article>
